version: '2.2'

services:
  php-fpm:
    build:
      context: ./docker/php-fpm
    volumes:
      - ./src:/var/www
      - /var/www
    networks:
      - inner
  nginx:
    build:
      context: ./docker/nginx
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/sites/:/etc/nginx/conf.d
    depends_on:
      - php-fpm
    volumes_from:
      - php-fpm
    links:
      - php-fpm
    ports:
      - "80:80"
      - "443:443"
    networks:
      - inner
networks:
  inner:
    driver: bridge